* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// general
a {
    text-decoration: none;
}

li {
    list-style: none;
}

.small_separe {
    border-bottom: 2px solid #39FFBF;
    width: 40px;
    height: 16px;
}